* {
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    text-decoration-line: none;
    font-size: 18px;
}

#head {
    height: 40px;
    line-height: 40px;
    background-color: #F5F5F5;
}

#head1 {
    height: 40px;
    background-color: #FF8600;
    display: flex;
    justify-content: center;
}

#menu {
    height: 40px;
    line-height: 40px;
    display: inline-block;
}

.submenu1 {
    display: inline-block;
    padding: 0px 30px;
}

.submenu2 {
    display: none;
}

.submenu1:hover {
    background-color: rgb(255, 51, 0);
    color: #FFF;
    cursor: pointer;
}

#logo {
    margin: 100px;
}

#log-in {
    left: 100px;
}