* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

body {
    background-color: #FFF1E5;
}

#menu {
    height: 40px;
    background: rgb(255, 122, 0);
}

p {
    background: rgb(255, 122, 0);
    height: 40px;
    color: #FFF;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
    padding: 0px 30px;
}

.menu {
    font-size: 18px;

}

.menu li {
    float: left;
    list-style: none;
    position: relative;
}

a {
    text-decoration: none;
}

.menu a {
    display: block;
    height: 40px;
    padding: 0px 30px;
    line-height: 40px;
    background: rgb(255, 122, 0);
    color: #FFF;
    /* 文本装饰 */
    
}

.menu a:hover {
    background: rgb(255, 45, 0);
}

/*新增的二级菜单部分*/

.menu ul ul {
    /* 默认隐藏 */
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 40px;
}

.menu ul li:hover ul,
/*非IE6*/

.menu ul a:hover ul {
    /*IE6*/
    visibility: visible;
}

.menu ul ul li {
    /* 不允许有浮动 */
    clear: both;
}